$light-primary-background: #ffeefe;
$dark-primary-background: #211f27;

$light-secondary-background: #fff;
$dark-secondary-background: #16141a;

$light-primary-text-color: #000;
$dark-primary-text-color: #fff;

$light-text-on-accent-color: #fff;
$dark-text-on-accent-color: #fff;

$light-accent: #5335cc;
$dark-accent: #5a31b8;

$light-secondary-accent: #c7d6e2;
$dark-secondary-accent: #686c87;
