.news-article-preview {
  display: flex;
  gap: 1rem;

  .info {
    flex: 2;

    display: flex;
    flex-direction: column;

    .date {
      opacity: 0.8;
      color: $text-secondary;

      font-size: 1.5rem;
    }

    .title {
      color: $text-primary;
      font-size: 2rem;
      font-weight: 700;
    }

    .description {
      color: $text-secondary;
      font-size: 1.7rem;
    }
  }

  .image-container {
    flex: 1;

    img {
      width: 100%;
      aspect-ratio: 2 / 1;
      object-fit: cover;
      border-radius: 1rem;
    }
  }
}
