.scroller {
  position: fixed;
  z-index: 1;
  bottom: 5rem;
  right: 5rem;

  button {
    width: 7rem;
    height: 7rem;
    background-color: $accent-secondary;
    border: 2px solid transparent;
    border-radius: 50%;
    fill: transparent;
    cursor: pointer;
    padding: 0.2rem;
    transition: background-color 150ms ease-out, border 150ms ease-out;
    touch-action: none;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $accent-secondary-highlight;
    }

    &:focus-visible {
      background-color: $accent-secondary-highlight;
      border: 1px solid $outline;
    }

    * {
      pointer-events: none;
    }
  }

  svg {
    fill: none;
    stroke: $text-primary;
    stroke-width: 15;

    path {
      transition: 0.15s;
    }
  }
}

.drag-overlay.scroller-drag-overlay {
  width: 7rem;
  height: 7rem;
  background-color: $accent-secondary;
  border-radius: 50%;
  fill: transparent;
  cursor: pointer;
  padding: 0.2rem;
  transition: 0s;
  touch-action: none;

  display: flex;
  justify-content: center;
  align-items: center;

  //This is useful only if the drag overlay gets reparented inside of the discard area and is visible
  .scroller {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  svg {
    fill: none;
    stroke: $text-primary;
    stroke-width: 15;

    path {
      transition: 0.15s;
    }
  }
}

.scroller-inner-container {
  i.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: visible;
    stroke-width: 4px;
    stroke: $text-primary;

    circle {
      transition: 0.09s;
    }
  }
}
