:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $text-primary;
  background-color: $background;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 10px;
}
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  max-width: 100svw;
  min-height: 100svh;
  max-height: 100svh;
}

#root {
  position: absolute;
  width: 100%;
  min-height: 100svh;
  top: 10rem;
}

* {
  box-sizing: border-box;
  margin: 0;
}

button {
  @include button;
}

i.icon {
  color: $text-primary;
}

button i.icon {
  color: $text-accent;
}

a {
  color: $text-primary;
  text-decoration: none;
  transition: all 0.1s ease-out;
  outline: none;

  &:hover,
  &:focus-visible {
    color: $accent;
  }
}

@media screen and (max-width: 768.98px) {
  :root {
    font-size: 8px;
  }
}

@media screen and (max-height: 900px) {
  :root {
    font-size: 8px;
  }
}

@media screen and (max-height: 750px) {
  :root {
    font-size: 7px;
  }
}

.dg.ac {
  z-index: 10000000 !important;
}

:root {
  --background: #e7ecf0;
  --secondary-background: #fff;
  --outline: #24c9df;

  --background-hover: #dedee7;

  --accent: #5a31b8;
  --accent-highlight: #744dcf;

  --accent-secondary: #7c7dca;
  --accent-secondary-highlight: #6364c0;

  --text-primary: #000;
  --text-secondary: #4b4b4b;

  --text-accent: #fff;

  --shadow: #b9b9b9;

  &.dark {
    --background: #211f27;
    --secondary-background: #16141a;
    --outline: #fff;

    --background-hover: #292731;

    --accent: #5a31b8;
    --accent-highlight: #744dcf;

    --accent-secondary: #686c87;
    --accent-secondary-highlight: #585c73;

    --text-primary: #fff;
    --text-secondary: #999999;

    --text-accent: #fff;

    --shadow: #0b0b0b;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.not-sr-only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
  border-width: 0;
}
