.students-page-container {
  display: flex;
  flex-direction: column;
  padding: 3rem 5vw;

  .expander > button {
    font-size: 2rem;
  }

  .parliament-container {
    .year-container {
      display: flex;
      flex-direction: column;

      .class-container {
        display: flex;
        gap: 1rem;
      }
    }
  }
}

