.history-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding: 10rem;

  .history-line {
    position: absolute;
    top: 0;
    left: 0;
  }

  .history-segment {
    height: 30vh;
    width: 60vw;
    border: 1px solid $outline;

    opacity: 0;
    transition: 0.5s ease-in-out;

    &:nth-child(even) {
      align-self: flex-end;
    }

    &:nth-child(5) {
      height: 60vh;
    }
  }

  path {
    transition: 0.5s ease-in-out;
    stroke: $outline;
    fill: none;
    filter: drop-shadow(0px 0px 10px $accent-highlight);
  }
}

.history-date-headers-container {
  position: absolute;
  top: 0;
  left: 0;

  .history-date-header {
    position: absolute;
    aspect-ratio: 1;
    transition: 0.5s ease-in-out;
    opacity: 0;

    display: grid;
    place-items: center;

    &:nth-child(odd) {
      transform: translate(-100%, -50%);
      margin-left: -2rem;
    }

    &:nth-child(even) {
      transform: translate(0%, -50%);
      margin-left: 2rem;
    }

    h1 {
      font-size: 2rem;
    }
  }
}

