.history-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding: 10rem;

  .history-line {
    position: absolute;
    top: 0;
    left: 0;
  }

  .history-segment {
    height: 30vh;
    width: 60vw;
    border: 1px solid $outline;

    opacity: 0;

    &:nth-child(even) {
      align-self: flex-end;
    }
  }
}

