.floatie-discard-area {
  position: fixed;
  bottom: 5rem;
  left: 50%;
  width: 7rem;
  height: 7rem;
  scale: 1.25;
  opacity: 0;

  .floatie-discard-area-icon {
    pointer-events: none;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: #f003;
    border: 2px solid $outline;
    backdrop-filter: blur(2px);

    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 2rem;
      color: #f99 !important;
    }
  }
}

.draggable-floatie {
  opacity: 0;
}
