.important-notice {
  .important-notice-announcement {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
    max-width: 120rem;
    width: 90%;

    p {
      margin-block: 1rem;
    }

    h1 {
      font-size: 3.5rem;
      font-weight: 600;
      text-align: center;
    }

    h2 {
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-size: 3rem;
    }

    img {
      display: block;
      margin: 1.5rem auto 0;
      max-width: 70rem;
      width: 100%;
      height: auto;
      aspect-ratio: auto;
      object-fit: contain;
      border-radius: 1rem;
    }
  }

  .important-notice-table {
    max-width: 120rem;
    width: 80%;
    margin-bottom: 8rem;
    margin-top: 6rem;
    align-self: center;
    box-shadow: 0px 5px 15px $shadow;
    display: flex;
    justify-content: center;
    align-items: center;

    table {
      width: 100%;
      border-collapse: collapse;
      border: 2px solid $background;
      overflow: hidden;
      table-layout: fixed;

      caption {
        padding: 1rem;
        background-color: $secondary-background;
        border: 2px solid $background;
        border-bottom: none;
        font-size: 3rem;
        font-weight: 600;
        color: $text-primary;
      }

      thead {
        th {
          width: fit-content;
          background-color: $secondary-background;
        }
      }

      th,
      td {
        padding: 2rem;
        font-size: 1.6rem;
        text-align: center;
      }

      th {
        color: $text-primary;
        background-color: $secondary-background;
        border-bottom: 2px solid $background;
      }

      td {
        color: $text-primary;
        border-bottom: 1px solid $background;
      }

      tr:nth-child(even) {
        background-color: $secondary-background;
      }

      tr:nth-child(odd) {
        background-color: $secondary-background;
      }

      tr:hover {
        background-color: $background;
      }
    }
  }
}
