.scroller {
  position: fixed;
  z-index: 1;
  bottom: 5rem;
  right: 5rem;

  button {
    width: 7rem;
    height: 7rem;
    background-color: $accent-secondary;
    border-radius: 50%;
    fill: transparent;
    cursor: pointer;
    padding: 0.2rem;
    transition: 0s;
    touch-action: none;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus-visible {
      background-color: $accent-secondary;
    }

    * {
      pointer-events: none;
    }
  }

  svg {
    fill: none;
    stroke: $text-primary;
    stroke-width: 15;

    path {
      transition: 0.15s;
    }
  }
}

.drag-overlay.scroller-drag-overlay {
  width: 7rem;
  height: 7rem;
  background-color: $accent-secondary;
  border-radius: 50%;
  fill: transparent;
  cursor: pointer;
  padding: 0.2rem;
  transition: 0s;
  touch-action: none;

  display: flex;
  justify-content: center;
  align-items: center;

  //This is useful only if the drag overlay gets reparented inside of the discard area and is visible
  .scroller {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  svg {
    fill: none;
    stroke: $text-primary;
    stroke-width: 15;

    path {
      transition: 0.15s;
    }
  }
}

