.hero-block-element {
  all: unset;

  &:hover {
    background-color: $secondary-background;
  }
}

.active {
  .hero-block-icon {
    transform: translateY(-2rem) !important;
  }
  .hero-block-header {
    transform: translateY(-2rem) !important;
  }
}
