.documents-container {
  justify-self: center;
  width: 100svw;
  padding-block: 5rem 0;
  padding-inline: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;

  .document-group-wrapper {
    width: 90%;
    max-width: 100rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(30rem, 1fr));
    gap: 3.5rem 2rem;
    place-items: center;
  }

  @media screen and (max-width: 768px) {
    .document-group-wrapper {
      grid-template-columns: 1fr;
      max-width: 50rem;
    }
  }
}

.document-group-container {
  width: 100%;
  min-height: 30rem;
  height: 100%;
  background: $secondary-background;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  display: flex;
  flex-direction: column;

  .group-header {
    padding: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    color: $text-accent;

    .icon {
      font-size: 3rem;
      color: $text-accent;
    }

    .group-title {
      margin: 0;

      font-size: 1.8rem;
      font-weight: 600;
    }
  }

  .documents-list {
    flex: 1;
    padding: 1.5rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    .document-link {
      background: $background;
      padding: 0.75rem 1rem;
      border-radius: 4px;
      transition: all 0.2s ease;

      display: flex;
      justify-content: space-between;

      font-size: 1.4rem;
      color: $text-secondary;
      text-decoration: none;

      &:hover,
      &:focus-visible {
        background: $accent-secondary;
        transform: translateX(4px);
      }

      &:active {
        background: #dee2e6;
      }

      .download {
        color: $accent;
        font-size: 2rem;
      }
    }
  }
}
