.news-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  .news-section-title {
    font-size: 4.5rem;
    font-weight: 900;

    @media screen and (max-width: 1024px) {
      font-size: 4rem;
    }
  }

  .options-container {
    display: flex;
    gap: 2rem;
    margin-bottom: 5rem;

    .option-button {
      position: relative;
      padding: 1rem 2rem;
      background: none;

      font-size: 2rem;

      .underline {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.2rem;
        background-color: $text-primary;
      }
    }
  }

  .news-and-events-section {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    max-height: fit-content;

    .news-events-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 3rem;

      @media screen and (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
      }
    }

    .view-all-link {
      border: none;
      color: #fff;
      background: none;
      position: relative;
      cursor: pointer;

      display: flex;
      align-items: center;
      gap: 0.5rem;

      p {
        font-size: 2rem;
      }

      &:before {
        content: "";
        position: absolute;
        height: 2px;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: scaleX(0);
        transform-origin: bottom right;
        background: currentColor;
        transition: transform 0.25s ease-out;
      }

      &:hover:before,
      &:focus-visible::before {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      .icon {
        transition: 200ms;
        font-size: 1.65rem;
        width: max-content;
        height: max-content;
      }

      &:hover .icon,
      &:focus-visible .icon {
        transform: rotate(-90deg);
      }
    }
  }
}

