.teachers-page {
  h1 {
    margin-top: 8rem;
    margin-bottom: 8rem;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    color: $text-primary;
  }

  .teacher-cards-container {
    max-width: 140rem;
    padding: 0 2rem;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 40rem));
    justify-content: center;
    gap: 5rem;
  }
}

@media screen and (max-width: 425px) {
  .teachers-page {
    h1 {
      font-size: 3rem !important;
      margin-bottom: 8rem !important;
    }

    .teacher-card-header {
      h2 {
        font-size: 2.4rem !important;
      }

      p {
        font-size: 1.8rem !important;
      }
    }

    .basic-info {
      padding: 1rem !important;
    }
  }
}

.teacher-card {
  height: 55rem;
  width: 100%;
  background-color: $secondary-background !important;
  border-radius: 8px;
  box-shadow: 0px 5px 15px $shadow;
  transition: translate 0.3s ease;
  max-width: 40rem;

  display: flex;
  flex-direction: column;

  &:not(.expanded):hover {
    translate: 0 -5px;
  }

  .teacher-image {
    align-self: center;
    width: 20rem;
    aspect-ratio: 1;
    margin: 1rem 0;
    position: relative;

    img {
      object-fit: fill;
      border-radius: 1rem;
    }
  }

  .teacher-card-header {
    h2 {
      text-align: center;
      font-size: 2.8rem;
      font-weight: bold;
      color: $accent-secondary-highlight;
    }

    p {
      text-align: center;
      color: $text-secondary;
      font-size: 1.8rem;
      font-weight: 500;
    }
  }

  .basic-info {
    padding: 2rem;
    align-self: flex-start;
    text-align: start;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
      color: $text-secondary;
      font-size: 1.6rem;
      text-wrap: wrap;
    }

    ul.subjects {
      padding-inline: 0;
      list-style: none;

      p {
        font-weight: 500;
        font-size: 1.6rem;
        color: $text-secondary;
      }

      li {
        font-size: 1.5rem;
        color: $text-secondary;
        margin-bottom: 0.5rem;
        line-height: 1.5;
        padding-left: 1.5rem;
        position: relative;

        &::before {
          content: "•";
          color: $accent-secondary;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          font-size: 1.8rem;
        }
      }
    }
  }

  .email {
    margin-top: auto;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.6rem;
    color: $text-secondary;

    &:hover {
      color: $accent-secondary;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  .teacher-card-expanded-wrapper {
    max-width: 100rem;
    width: 90%;
    height: 60rem;
    border-radius: 8px;
    overflow: hidden;

    display: flex;
  }

  .teacher-card-expanded {
    width: 100%;
    height: 100%;
    background-color: $secondary-background !important;
    transition: translate 0.3s ease;

    display: flex;
    flex-direction: column;

    .teacher-image {
      align-self: center;
      width: 20rem;
      aspect-ratio: 1;
      margin: 1rem 0;
      position: relative;

      img {
        object-fit: fill;
        border-radius: 1rem;
      }
    }

    .teacher-card-header {
      h2 {
        text-align: center;
        font-size: 2.8rem;
        font-weight: bold;
        color: $accent-secondary-highlight;
      }

      p {
        text-align: center;
        color: $text-secondary;
        font-size: 1.8rem;
        font-weight: 500;
      }
    }

    .basic-info {
      padding: 2rem;
      align-self: flex-start;
      text-align: start;

      display: flex;
      flex-direction: column;
      gap: 1rem;

      p {
        color: $text-secondary;
        font-size: 1.6rem;
        text-wrap: wrap;
      }

      ul.subjects {
        padding-inline: 0;
        list-style: none;

        p {
          font-weight: 500;
          font-size: 1.6rem;
          color: $text-secondary;
        }

        li {
          font-size: 1.5rem;
          color: $text-secondary;
          margin-bottom: 0.5rem;
          line-height: 1.5;
          padding-left: 1.5rem;
          position: relative;

          &::before {
            content: "•";
            color: $accent-secondary;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.8rem;
          }
        }
      }
    }

    .email {
      margin-top: auto;
      margin-bottom: 1rem;
      text-align: center;
      font-size: 1.6rem;
      color: $text-secondary;

      &:hover {
        color: $accent-secondary;
      }
    }
  }

  .expanded-info-container {
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    background-color: $secondary-background;
    z-index: -1;

    .bio {
      font-size: 1.5rem;
      color: $text-secondary;

      .bio-h {
        font-size: 1.6rem;
        font-weight: 500;
      }
    }

    .qualification {
      margin-top: 2rem;
      .qualification-h {
        font-size: 1.6rem;
        font-weight: 500;
        color: $text-secondary;
      }

      p {
        font-size: 1.5rem;
        color: $text-secondary;
      }
    }
  }

  .expanded {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%) !important;

    .expanded-info-container {
      position: absolute;
      top: 0;
      left: 100%;
      width: 100%;
      height: 100%;
      background-color: $secondary-background;
      z-index: -1;
    }
  }

  @media screen and (max-width: 600px) {
    .teacher-card-expanded-wrapper {
      max-width: 50rem;
      width: 100%;
      min-width: 0;
      height: auto;
      max-height: 70%;
      overflow-y: auto;

      flex-direction: column;
      align-items: center;
    }
  }
}
