.hamburger-navigation .search-bar-container {
  position: relative;
  overflow: hidden;
  min-width: 35rem;
  width: 80%;
  max-width: 60rem;
  height: 60vh;
  border-radius: 1rem;

  font-size: 1.9rem;

  .search-container {
    @include input-field-container;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 5rem;
    padding-right: 0;
    box-shadow: 3px 5px 15px $shadow;

    .search-button {
      position: absolute;
      right: 0;
      margin-left: 1rem;
      height: 100%;
      background-color: $accent-secondary;
      aspect-ratio: 1;

      cursor: pointer;

      &:hover {
        background-color: $accent-secondary-highlight;
      }

      &:focus-visible {
        background-color: $accent-secondary-highlight;
        border: 2px solid $outline;
      }
    }
  }

  .search-bar-auto-complete-container {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-height: 100%;
    background: $background;
    overflow: auto;
    padding: 6.5rem 1rem 1rem 1rem; // 7rem for the search bar (5rem) + 1.5rem for padding

    display: flex;
    flex-direction: column;

    .search-bar-auto-complete-item {
      position: relative;
      min-height: max-content;
      padding: 1rem;
      border-radius: 1rem;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      font-size: 1rem;

      .title {
        font-size: 2rem;
        font-weight: 400;
      }

      .description {
        font-size: 1.5rem;
        font-weight: 100;
      }

      &:focus-visible {
        color: $text-primary;
        outline: 1px solid $outline;
      }

      &:hover {
        color: $text-primary;
        background-color: $secondary-background;
      }

      &:not(:last-child)::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 3px);
        width: 95%;
        height: 3px;
        background-color: $outline;
        opacity: 0.1;
      }
    }
  }
}
