.alice-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-content {
  width: 100%;
  display: flex;
  justify-content: center;
  transition: 0.5s linear;
  gap: 2rem;
}

.carousel-item {
  min-width: 25rem;
  max-width: 25rem;
  height: 28rem;
  border-radius: 1rem;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2rem;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.next {
  transition: 0s !important;
  transform: translateX(270px);
}

.prev {
  transition: 0s !important;
  transform: translateX(-270px);
}
