.single-profile-page {
  padding: 2rem min(15rem, 5vw);

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 999;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      background-color: rgba(0, 0, 0, 0.7) !important;
      backdrop-filter: blur(5px);
      pointer-events: all;
    }

    .full-screen-class-container {
      width: 80%;
      height: 80%;
    }
  }

  &:has(.overlay.active) {
    * {
      pointer-events: none;
      touch-action: none;
      user-select: none;
    }

    .overlay * {
      pointer-events: auto;
      touch-action: auto;
      user-select: text;

      &:is(button) {
        user-select: none;
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 2rem;
  }

  .classes-container {
    margin-top: 20px;

    .year-selector {
      display: grid;
      grid-template-columns: repeat(4, minmax(5rem, 15rem));
      gap: 10px;
      margin-bottom: 20px;
      font-size: 1.5rem;

      button {
        padding: 2.5rem;
        border: none;
        background-color: $accent-secondary;
        color: $text-accent;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

        &:hover {
          background-color: $accent-secondary-highlight;
          transform: translateY(-2px);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        &:focus-visible {
          outline: none;
          box-shadow: 0 0 0 3px $accent-secondary;
        }

        &:active {
          transform: translateY(0);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        &.selected {
          background-color: $accent;

          &:hover {
            background-color: $accent;
            transform: translateY(0);
          }

          &:focus-visible {
            box-shadow: 0 0 0 3px $accent;
          }
        }
      }

      @media (max-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
        font-size: 2rem;

        button {
          padding: 2rem;
        }
      }
    }

    .classes-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
      gap: 2.5rem;
    }
  }

  .class-item {
    background-color: $secondary-background;
    padding: 18px 15px 15px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px $shadow;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    .class-name {
      position: relative;
      font-size: 1.5rem;
      padding-left: 0.7rem;
      color: $text-primary;

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 0.35rem;
        height: 100%;
        transform: translate(-0.7rem, 0);
      }
    }

    h1 {
      font-size: 2.5rem;
      color: $text-primary;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      color: $text-secondary;
    }

    &.general {
      .class-name::before {
        background-color: $accent-secondary;
      }
    }

    &.specific {
      .class-name::before {
        background-color: $accent;
      }
    }

    .class-count {
      color: $text-secondary;
      font-size: 1.2rem;
    }

    @media screen and (max-width: 768px) {
      .class-name {
        padding-left: 1.3rem;
        font-size: 2rem;

        &::before {
          width: 0.7rem;
          transform: translate(-1.3rem, 0);
        }
      }

      .class-count {
        font-size: 1.8rem;
      }
    }
  }

  .header {
    display: flex;

    .image-container {
      flex: 6;
      position: relative;

      img {
        width: 100%;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          90deg,
          #00000000 0%,
          #00000055 50%,
          $background 95%
        );
      }
    }

    .info {
      flex: 4;
      padding: 5rem 0;

      display: flex;
      flex-direction: column;
      gap: 2rem;

      h1 {
        font-size: 4rem;
        color: $accent-secondary;
      }

      p {
        font-size: 2.2rem;
      }
    }
  }

  .body {
    h3 {
      font-size: 1.7rem;
      color: $text-primary;
      font-weight: 400;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.4rem;
    }

    ul.skills {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-left: 0;
      gap: 1.5rem;
      margin-bottom: 4rem;

      li {
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 0 0 10px 0.3px $secondary-background;

        font-size: 1.6rem;

        &::marker {
          content: "";
        }
      }
    }
  }

  @media screen and (max-width: 1024.98px) {
    padding: 0;

    .header {
      flex-direction: column;

      .image-container {
        flex: unset;

        &::after {
          background: linear-gradient(
            180deg,
            #00000000 0%,
            #00000055 50%,
            $background 95%
          );
        }
      }

      .info {
        flex: unset;
        padding: 0 2rem;
        margin-top: 1rem;

        h1 {
          font-size: 3rem;
        }

        p {
          font-size: 1.6rem;
        }
      }
    }

    .body {
      padding: 0 2rem;

      h2,
      h3,
      p {
        font-size: 1.6rem;
      }

      ul.skills {
        grid-template-columns: 1fr;
      }
    }
  }
}

