.single-profile-page {
  justify-self: center;
  max-width: 100svw;

  display: flex;
  flex-direction: column;
  align-items: center;

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 999;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      background-color: rgba(0, 0, 0, 0.7) !important;
      backdrop-filter: blur(5px);
      pointer-events: all;
    }

    .full-screen-subject-container {
      max-width: 60rem;
      width: 90%;
      height: 40rem;
      min-height: fit-content;
      padding: 5rem;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .subject-name {
        padding: 0;

        display: flex;

        font-size: 3.2rem;
        color: $accent-secondary;
        flex-wrap: wrap;
      }

      .subject-name-text {
        margin-right: 2rem;
      }

      .subject-general {
        height: max-content;
        width: 10rem;
        padding: 0.7rem 2rem;
        border-radius: 5rem;
        border: 2px solid wheat;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1.7rem;
        color: wheat;
      }

      .subject-vocational {
        height: max-content;
        width: 10rem;
        padding: 0.7rem 2rem;
        border-radius: 5rem;
        border: 2px solid aqua;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1.7rem;
        color: aqua;
      }

      .subject-description {
        text-align: start;
        font-size: 1.8rem;
        color: $text-primary;
        margin-top: 2rem;
      }

      @media screen and (max-width: 425px) {
        padding: 2rem;
      }
    }
  }

  &:has(.overlay.active) {
    * {
      pointer-events: none;
      touch-action: none;
      user-select: none;
    }

    .overlay * {
      pointer-events: auto;
      touch-action: auto;
      user-select: text;

      &:is(button) {
        user-select: none;
      }
    }
  }

  .header {
    max-width: 165rem;
    width: 90%;
    margin-top: 5rem;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;

    .image-container {
      width: 80rem;
      aspect-ratio: 16/9;
      border-radius: 2rem;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .info {
      max-width: 80rem;
      width: 70%;

      display: flex;
      flex-direction: column;
      gap: 2rem;

      h1 {
        font-size: 4rem;
        color: $accent-secondary;
      }

      p {
        font-size: 1.8rem;
      }
    }
  }

  .body {
    max-width: 160rem;
    width: 90%;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    section {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 10rem;

      h2 {
        font-size: 3.2rem;
        color: $accent-secondary;
        font-weight: 600;
      }

      p {
        font-size: 1.8rem;
        max-width: 140rem;
      }
    }

    ul.skills {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0 1rem;
      gap: 2.5rem;
      margin-block: 2rem;

      li {
        padding: 2rem;
        border-radius: 1rem;
        background-color: $secondary-background;
        box-shadow: 0px 5px 15px $shadow;

        font-size: 1.6rem;

        h2 {
          font-size: 2rem;
        }

        &::marker {
          content: "";
        }
      }
    }
  }

  .subjects-container {
    width: 90%;
    margin-top: 10rem;

    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr;
    gap: 3rem;

    .year-selector {
      grid-column: 2;

      display: grid;
      grid-template-rows: repeat(4, max-content);
      gap: 1.5rem;
      font-size: 1.5rem;

      button {
        border: none;
        background-color: $accent-secondary;
        color: $text-accent;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
        aspect-ratio: 1;
        width: 5rem;

        p {
          font-size: 2rem;
        }

        &:hover {
          background-color: $accent-secondary-highlight;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        &:focus-visible {
          outline: none;
          box-shadow: 0 0 0 3px $accent-secondary;
        }

        &:active {
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        &.selected {
          background-color: $accent;

          &:hover {
            background-color: $accent;
          }

          &:focus-visible {
            box-shadow: 0 0 0 3px $accent;
          }
        }
      }
    }

    .subjects-list {
      grid-column: 1;
      grid-row: 1;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
      grid-auto-rows: 15rem;
      gap: 2.5rem;
    }

    @media (max-width: 600px) {
      grid-template-rows: max-content 1fr;
      grid-template-columns: 1fr;
      gap: 0;

      .year-selector {
        grid-row: 1;
        grid-column: 1;
        height: max-content;
        margin-bottom: 1.5rem;

        grid-template-columns: repeat(4, max-content);
        grid-template-rows: 1fr;
        justify-content: center;

        font-size: 2rem;

        button {
          width: 6rem;
        }
      }

      .subjects-list {
        grid-row: 2;
        grid-column: 1;
      }
    }
  }

  .subject-item {
    background-color: $secondary-background;
    border-radius: 5px;
    box-shadow: 0px 5px 15px $shadow;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    cursor: pointer;

    .subject-name {
      position: relative;
      font-size: 2.2rem;
      padding-left: 0.7rem;
      color: $text-primary;
    }

    p {
      font-size: 1.6rem;
      color: $text-secondary;
    }

    &.vocational {
      .subject-name::before {
        background-color: $accent;
      }
    }

    .subject-count {
      color: $text-secondary;
      font-size: 1.6rem;
    }

    @media screen and (max-width: 768px) {
      .subject-name {
        padding-left: 1.3rem;
        font-size: 2rem;

        &::before {
          width: 0.7rem;
          transform: translate(-1.3rem, 0);
        }
      }

      .subject-count {
        font-size: 1.8rem;
      }
    }
  }

  @media screen and (max-width: 1100px) {
    padding: 0;

    .header {
      flex-direction: column;
      align-items: center;

      .image-container {
        width: 100%;

        &::after {
          background: linear-gradient(
            180deg,
            #00000000 0%,
            #00000055 50%,
            $background 95%
          );
        }
      }

      .info {
        max-width: none;
        width: 100%;
        margin-top: 1rem;

        h1 {
          font-size: 3rem;
        }

        p {
          font-size: 1.6rem;
        }
      }
    }

    .body {
      h2,
      h3,
      p {
        font-size: 1.6rem;
      }

      ul.skills {
        grid-template-columns: 1fr;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .header {
    flex-direction: column;
    align-items: center;

    .image-container {
      width: 100%;

      &::after {
        background: linear-gradient(
          180deg,
          #00000000 0%,
          #00000055 50%,
          $background 95%
        );
      }
    }

    .info {
      max-width: none;
      width: 100%;
      padding: 0rem !important;
      margin-top: 1rem;

      h1 {
        font-size: 3rem;
      }

      p {
        font-size: 1.6rem;
      }
    }
  }

  .body {
    width: 100%;

    ul.skills {
      padding: 0 !important;
    }
  }
}
