#app-header {
  position: relative;
  top: 0;
  z-index: 10;

  width: 100%;
  height: 10rem;
  padding: 1rem 5rem;
  background-color: $secondary-background;
  box-shadow: 0 2px 15px $shadow;

  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  color: #fff;
  text-align: center;
  font-size: 2rem;
  
  .logo {
    width: auto;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    font-weight: 700;
    font-size: 1.2em;

    img {
      height: 100%;
      aspect-ratio: 1/1;
    }

    p {
      width: fit-content;
      white-space: nowrap;
    }
  }

  .app-header-navigation {
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 1rem;
  }

  .nav-bar {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;

    transition: .25s ease-out;

    a {
      width: auto;
      min-width: 10rem;
      padding: 1rem 1rem;
      border-radius: 1rem;
      white-space: nowrap;

      &:hover,
      &:focus-visible {
        color: $text-accent;
        background-color: $accent-secondary-highlight;
      }
    }
  }

  .search-bar-not-active-navbar {
    transform: translate(22rem);
  }

  .search-button {
    position: relative;
    
    min-width: 5rem;
    aspect-ratio: 1;
    background-color: $accent-secondary;
  
    &:hover,
    &:focus-visible {
      background-color: $accent-secondary-highlight;
    }
  }
  

  .search-bar-container {
    @include input-field-container;
    font-size: 1.9rem;
    width: 35rem;
  }

  .search-bar-filler {
    position: absolute;
    right: -1rem;

    width: 2rem;
    height: 100%;
    background-color: $accent-secondary;
  }

  .search-bar-not-active {
    transform: translate(100%);
  }

  @media screen and (min-width: 1075px) {
    .apply-link:has(~ .search-bar-container) {
      display: none;
    }
  }

  @media screen and (max-width: 1075px) {
    grid-template-columns: max-content 1fr max-content;

    .logo {
      height: calc(100% - 2rem);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .app-header-navigation {
      display: none;
    }

    .nav-bar {
      display: none;
    }

    .apply-link:has(~ .search-bar-container) {
      display: none;
    }
  }
}

@media screen and (max-width: 1499.98px) {
  #app-header {
    .logo {
      p {
        display: none;
      }
    }
  }
}
