.hamburger-navigation {
  position: fixed;
  z-index: 1;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  width: 100svw;
  height: calc(100svh - 8rem);
  background-color: $secondary-background;
  padding: 4rem 0;

  font-size: 2rem;

  .nav-bar {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    font-size: 2rem;
    font-weight: 600;

    > :last-child {
      border-bottom: none !important;
    }

    .nav-bar-tab {
      width: 100%;
      height: 9rem;
      border-bottom: 1px solid $accent-secondary-highlight;
      padding: 0 5rem;

      display: flex;
      align-items: center;

      :focus {
        color: $accent-highlight;
        * {
          color: $accent-highlight;
        }
      }

      @media screen and (max-width: 399.98px) {
        padding: 0 2.5rem;
      }

      .regular {
        font-weight: 500;
      }
    }
  }
}
