$background: var(--background);
$secondary-background: var(--secondary-background);
$outline: var(--outline);

$background-hover: var(--background-hover);

$accent: var(--accent);
$accent-highlight: var(--accent-highlight);

$accent-secondary: var(--accent-secondary);
$accent-secondary-highlight: var(--accent-secondary-highlight);

$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$text-accent: var(--text-accent);

$shadow: var(--shadow);
