@use "./private/palette.private" as *;
@use "sass:color";

$background: light-dark($light-primary-background, $dark-primary-background);
$secondary-background: light-dark(
  $light-secondary-background,
  $dark-secondary-background
);
$outline: light-dark(#24c9df, #fff);

$accent: light-dark($light-accent, $dark-accent);
$accent-highlight: light-dark(
  color.adjust($light-accent, $lightness: 10%),
  color.adjust($dark-accent, $lightness: 10%)
);

$accent-secondary: light-dark($light-secondary-accent, $dark-secondary-accent);
$accent-secondary-highlight: light-dark(
  color.adjust($light-secondary-accent, $lightness: -7%),
  color.adjust($dark-secondary-accent, $lightness: -7%)
);

$text-primary: light-dark($light-primary-text-color, $dark-primary-text-color);
$text-secondary: light-dark(
  color.adjust($light-primary-text-color, $lightness: 20%),
  color.adjust($dark-primary-text-color, $lightness: -20%)
);
$text-accent: light-dark(
  $light-text-on-accent-color,
  $dark-text-on-accent-color
);

$shadow: light-dark(#b9b9b9, #0b0b0b);
