#app-header {
  position: fixed;
  top: 0;
  z-index: 10;

  width: 100%;
  min-height: 10rem;
  max-height: 10rem;
  padding: 1rem 0rem 1rem 5rem;
  background-color: $secondary-background;
  box-shadow: 0 2px 15px $shadow;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #fff;
  text-align: center;
  font-size: 2rem;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: $secondary-background;
    box-shadow: 0 2px 15px black;
  }

  > *:not(.background):not(.hamburger-navigation) {
    z-index: 2;
  }

  .logo {
    width: auto;
    max-height: 8rem;
    height: 8rem;
    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    font-weight: 700;
    font-size: 1.2rem;

    img {
      height: 100%;
      aspect-ratio: 1;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }

    &:focus-visible {
      outline: 1px solid $outline;
    }
  }

  .app-header-navigation {
    position: relative;
    display: flex;
    border-radius: 1rem;
    height: 5rem;

    .nav-bar {
      position: relative;
      right: 1rem;
      z-index: 1;
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 1rem;

      transition: 0.25s ease-out;

      a {
        width: auto;
        min-width: 10rem;
        padding: 1rem 1rem;
        border-radius: 1rem;
        white-space: nowrap;

        &:hover,
        &:focus-visible {
          color: $text-accent;
          background-color: $accent-secondary-highlight;
        }
      }

      &:has(~ .search-bar-not-active) {
        transform: translate(30rem);

        @media screen and (max-width: 1440px) {
          transform: translate(25rem);
        }

        @media screen and (max-width: 1120px) {
          transform: translate(20rem);
        }
      }
    }
  }

  .language-button {
    width: max-content;
    min-width: 8rem;
    background-color: transparent;
    color: $text-primary;

    font-size: 1.6rem;
  }

  .settings-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;

    .gear {
      color: $text-primary;
      transition: 0.25s ease-out;
    }

    .active {
      color: $accent-secondary;
      transform: rotate(90deg);
    }

    &:hover,
    &:focus-within {
      .gear {
        color: $accent-secondary;
        transform: rotate(90deg);
      }
    }
  }

  .closed {
    opacity: 0;
    pointer-events: none;
    touch-action: none;
  }

  .settings-popup {
    position: absolute;
    z-index: 9999 !important;
    top: 3rem;
    right: 3rem;
    overflow: hidden;

    width: 25rem;
    height: 20rem;
    background: $background;
    border: $secondary-background 2px solid;
    box-shadow: 0 2px 15px $shadow;
    border-radius: 1rem;
    transition: 0.2s ease-out;

    display: flex;
    flex-direction: column;

    .language-options {
      width: 100%;
      height: 15rem;
      display: flex;
      flex-direction: column;
    }

    .theme-button {
      position: relative;
      height: 5rem;
      width: 100%;
      background-color: $secondary-background;

      display: flex;
      gap: 1rem;
      justify-content: center;

      color: $text-primary;

      .icon {
        color: $text-primary;
      }
    }

    .theme-icons-container {
      position: absolute;
      bottom: -2.5rem;

      width: 6rem;
      height: 6rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      transition: 0.5s;
    }

    .dark-theme-active {
      transform: rotate(180deg);
    }

    .language-button,
    .theme-button {
      width: 100%;
      height: 5rem;
      background: none;
      padding: 10px;
      cursor: pointer;
      border-radius: 0;

      &:hover,
      &:focus-visible {
        background-color: $shadow;
      }
    }
    .active-language {
      background-color: $accent-secondary;

      &:hover,
      &:focus-visible {
        background-color: $accent-secondary;
      }
    }
  }

  @media screen and (max-width: 1300px) {
    font-size: 1.8rem;

    a {
      padding: 1rem 0 !important;
    }
  }

  @media screen and (max-width: 1075px) {
    grid-template-columns: max-content 1fr max-content;

    .logo {
      height: calc(100% - 2rem);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .nav-bar.header-nav-bar,
    .search-bar-container.header-search-bar {
      display: none;
    }

    .settings-button {
      opacity: 0;
      pointer-events: none;
      touch-action: none;
    }

    padding: 1rem 5rem 1rem 5rem;

    &:has(:first-child.hamburger-menu.open) .settings-button {
      opacity: 1;
      pointer-events: all;
      touch-action: all;
    }
  }
}
